# For systemd
# Copy to /etc/systemd/system/

[Unit]
Description=cfbot IRC chat bot for cfengine channel on freenode.

[Service]
Type=forking
PIDFile=/home/cfbot/cfbot/cfbot.pid
ExecStart=/home/cfbot/cfbot/daemon.pl start
ExecStop=/home/cfbot/cfbot/daemon.pl stop
Restart=always

[Install]
WantedBy=multi-user.target

